@import 'src/styles/variables.scss';

.Header {
    height: $Header-height;
    background-color: $Header-color;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        font-family: 'Great Vibes', cursive;
        font-size: $Header__logo-font-size;
        text-decoration: none;
        color: $Header__logo-color;
        padding: 0 2rem 0 10rem;
        &::before {
            content: '';
            position: absolute;
            left: 0px;
            min-width: 80px;
            height: 5rem;
            background: #dadddd url('../../assets/images/shop96.png') no-repeat;
            background-position: center;
            background-size: 70%;
        }
    }

    &__menu {
        padding: 0 2rem;
        display: flex;
        justify-content: flex-end;
    }

    &__menuItem {
        margin-right: 2rem;
        &:last-of-type {
            margin-right: 0rem;
        }
    }
}
