@use 'src/styles/variables' as *;

.OrderChevron {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $color_transition;
    &-closed,
    &-opened {
        * {
            fill: gray !important;
        }
        rect {
            stroke: transparent;
        }
        :hover {
            * {
                fill: blue !important;
            }
        }
    }
}
