@use 'src/styles/variables' as *;

.CatalogFilter {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.filter-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.filter-section {
    margin-bottom: 2rem;
}
.filter-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.CatalogFilter label {
    display: block;
    padding-left: 5rem;
}
