@use 'src/styles/variables' as *;

.BasketSymbol {
    &__img {
        width: 5rem;
        height: 5rem;
        border: 1px solid $header__logo-color;
        border-radius: 50%;
        box-shadow: 1px 0 0.5rem $header__logo-color-dark;
    }
}
