@use 'src/styles/variables' as *;

.Menu {
    border: 1px solid green;
    &__list {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
    }
    &__item {
    }
}

@media (max-width: 768px) {
    .Menu {
        border: 1px solid red;
        // display: none;
    }
}
