@use 'src/styles/variables' as *;

.DevelopInfo {
    width: 100%;
    height: 100%;
    border: 1px solid navy;
    border-radius: 5px;
    padding: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
