@use 'src/styles/variables' as *;

.Main {
    height: calc(100vh - $header-height - $footer-height);
    background-color: $main-color;
    position: relative;
}

.Main_scrollable {
    min-height: calc(100vh - $header-height - $footer-height);
    background-color: $main-color;
    position: relative;
}

.Main__BasketSymbol {
    position: fixed;
    top: 3rem;
    right: 1rem;
    z-index: 100;
}
