@use 'src/styles/variables' as *;

.GoodsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: stretch;
    align-content: flex-start;
    padding: 1rem;
}

@media (max-width: 1199.98px) {
    .GoodsList {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 991.98px) {
    .GoodsList {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767.98px) {
    .GoodsList {
        grid-template-columns: 1fr;
    }
}
