@use 'src/styles/variables' as *;

.GoodItem {
    display: flex;
    flex-direction: column;
    &__title {
        font-size: 2.4rem;
        font-weight: 700;
    }
    &__image {
        display: block;
        width: 100%;
        max-width: 450px;
    }
    &__content {
        flex-grow: 1;
    }
    &__price {
        font-size: 1.8rem;
    }
}
