@use 'src/styles/variables' as *;

.Catalog {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr minmax(30rem, 0.5fr);
    grid-template-rows: auto 1fr 5rem;
    grid-template-areas:
        'goods goods goods search '
        'goods goods goods filters '
        'pagination pagination pagination filters ';
    gap: 2rem;
    padding: 1rem;
    &__CatalogSearch {
        grid-area: search;
    }
    &__CatalogFilter {
        grid-area: filters;
    }
    &__GoodsList {
        grid-area: goods;
    }
    &__Pagination {
        grid-area: pagination;
    }
}
