@use 'src/styles/variables' as *;

.GoodGranted {
    display: grid;
    grid-template-columns: 15rem 1fr;
    font-size: 1.4rem;
    gap: 1rem;
    &__image {
        width: 15rem;
        height: 15rem;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    &__name {
        font-size: 1.8rem;
        font-weight: 700;
    }
    &__type {
        display: inline;
        padding-left: 1rem;
    }
    &__partOfSet {
        display: inline;
        font-style: italic;
        padding-left: 2rem;
    }
    &__description {
        word-wrap: break-word;
        flex-grow: 1;
    }
}
