@use 'src/styles/variables' as *;

.GoodDetail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
    max-width: 100rem;
    margin: auto;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 1rem;
    }

    &__image {
        display: block;
        width: 100%;
        max-width: 450px;
    }
    &__title {
        font-size: 2.4rem;
        font-weight: 700;
    }
    &__price {
        font-size: 1.8rem;
    }
    &__action {
        display: flex;
        justify-content: flex-end;
    }
}
