@use 'src/styles/variables' as *;

.CatalogSearch {
    width: 100%;
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    justify-items: flex-start;
    align-items: center;
    padding-top: 2rem;
    &__img {
        width: 2rem;
        height: 2rem;
    }
    &__clear {
        width: 2rem;
        height: 2rem;
    }
    &__field {
        width: 100%;
    }
}
