@use 'src/styles/variables' as *;

.BasketAmount {
    position: absolute;
    min-width: 2rem;
    min-height: 2rem;
    padding: 0.3rem;
    right: -0.7rem;
    bottom: -0.7rem;
    background-color: gold;
    color: $header__logo-color-dark;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__notEnought {
        color: grey;
        text-decoration: line-through;
        background-color: lightgrey;
    }
}
