.CatalogFilterGroupItem {
    &__label {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
    &__checkbox {
        display: none;
    }
    &__symbol {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(128, 128, 128, 0.616);
        border-radius: 3px;
        position: relative;
        cursor: pointer;
        background-color: var(--main-color);
    }
    &__checkbox:checked + &__symbol::after {
        content: '✔';
        font-size: 16px;
        color: green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
    }
    &__name {
        flex-grow: 1;
        white-space: nowrap;
    }
    &__count {
        color: grey;
        font-size: 1.5rem;
    }
}
