@use 'src/styles/variables' as *;

.BasketQty {
    position: absolute;
    min-width: 2rem;
    height: 2rem;
    right: -0.3rem;
    top: -0.3rem;
    background-color: #00a046;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
